@font-face {
  src: url(fonts/Neutronium.ttf);
  font-family: 'nos';
}

.title h1{
  padding: 0;
  margin: 0;
  font-family: 'nos';
  font-weight: lighter;
}

body{
  background-image: url(action-asphalt-blur-315938.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

b{
  position: absolute;
  top: 90%;
  left: 20%;
  transform: translate(-180%,-80%);
}

ul{
  float: right;
  list-style: lower-greek;
}
ul li{
  display: flow-root;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

.title{
  position: absolute;
  top: 20%;
  left: 65%;
  transform: translate(-180%,-80%);
}
.title h1{
  color: #fff;
  font-size: 70px;

}
